<nav id="menu" class="navbar navbar-expand-lg navbar-info  " style="background-color: palevioletred;">
    <div class="container-fluid px-4 px-lg-5">
        <div class="col-lg-6">
        <a class="navbar-brand text-light" routerLink="/allproducts">
                <i class="fa-solid fa-baby-carriage"></i>&nbsp;
                <b><i > She  BABY</i></b>
        </a>
    </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                
                <li class="nav-item">

                    <!-- <input placeholder="Search products"  (keyup)="search($event)" class="form-control" type="search"> -->
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


               
                

                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/gallery" >                        
                        gallery
                    </a>
                </li>
                &nbsp;
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/contact">                        
                        contact us
                    </a>
                </li>
                
 </ul>
            <form class="d-flex">
                <a routerLink="/addtocart" class="btn btn-outline-light" >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartitemcount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>


 <!-- whishlist is empty -->
 <div class="container mt-3 border p-4" *ngIf="emsg">
    <div class="row text-center">
        <div class="col ">
           <img width="400px" src="https://c.tenor.com/Y3c23UQQ3MIAAAAC/empty-box.gif" alt="cart empty image">
       <h3>Your Whish List is empty</h3>
       <a routerLink="/allproducts" class="btn btn-primary mt-3">Add to Whish List</a>
       
        </div>
    </div>
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            <div class="col mb-5 " *ngFor="let product of whishList">
                <div class="card h-100 " style="align-items: center;">
                    <!-- Product image-->
                    <div class="grow mt-4">
                    <img class="card-img-top" [src]="product.image" alt="..." />
                </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.product}}</h5>

                            <!-- Product price-->
                           <h5> ${{product.price}}</h5>
                           

                            {{product.description}}

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <button (click)="deletefrmwishlist(product)"   class="btn btn-outline-danger mt-auto" style="float: left;">
                             <i class="fa fa-trash"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button (click)="addToCart(product)"  style="float: right;" class="btn btn-outline-success mt-auto">
                             <i class="fa-solid fa-cart-plus"></i>
                            </button>
                     </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>


<!-- footer -->
<footer class="footer text-faded text-center py-5" style="background-color: palevioletred;">
    <div class="container">
        <p class="m-0 small text-light"><b><i>Copyright &copy; <i class="fa-solid fa-baby-carriage"></i>&nbsp;
        She  BABY  2022</i></b></p></div>
</footer>

  <!-- end footer -->



