<nav id="menu" class="navbar navbar-expand-lg navbar-info  " style="background-color: palevioletred;">
    <div class="container-fluid px-4 px-lg-5">
        <div class="col-lg-6">
        <a class="navbar-brand text-light" routerLink="/allproducts">
                <i class="fa-solid fa-baby-carriage"></i>&nbsp;
                <b><i > She  BABY</i></b>
        </a>
    </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                
                <li class="nav-item">

                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


               
                

                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/wishlist" >     
                        wishlist                   
                    </a>
                </li>
                &nbsp;
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/contact" >                        
                        contact us
                    </a>
                </li>
                                &nbsp;&nbsp;


                
 </ul>
            <form class="d-flex">
                <a routerLink="/addtocart" class="btn btn-outline-light" >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartitemcount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<br><br>
<div class="mt-5 text-center">
    <div class="mt-1">    
       <h2 style="font-style: oblique; color: lightcoral;"> <b>OUR GALLERY</b></h2> 
    </div>

</div>


<div class="container-fluid mt-5 ms-5 grow ">
    <div class="row">
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/12643311a.webp" alt="">
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/12135677a.webp" alt="">
 
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/12628058a.webp" alt="">

        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/10673453a.webp" alt="">

        </div>
        <div>
            <br><br>


        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/12307350a.webp" alt="">
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/12609231a.webp" alt="">
 
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11400922a.webp" alt="">

        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/12650866a.webp" alt="">

        </div>

    </div>
    <br><br>

    <div class="row">
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/12273397a.webp" alt="">
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11577484a.webp" alt="">
 
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11282762a.webp" alt="">

        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11718644a.webp" alt="">

        </div>

    </div>
    <br><br>

    <div class="row">
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11035843a.webp" alt="">
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11670717a.webp" alt="">
 
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11729458a.webp" alt="">

        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11574129a.webp" alt="">

        </div>

    </div>
    <br><br>


    <div class="row">
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11871496a.webp" alt="">
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11840340a.webp" alt="">
 
        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11718740a.webp" alt="">

        </div>
        <div class="col-3">
            <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/11805806a.webp" alt="">

        </div>

    </div>
</div>
<br><br>












<footer class="footer text-faded text-center py-5" style="background-color: palevioletred;">
    <div class="container">
        <p class="m-0 small text-light"><b><i>Copyright &copy; <i class="fa-solid fa-baby-carriage"></i>&nbsp;
        She  BABY  2022</i></b></p></div>
  </footer>